body {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left, .right {
    flex: 1;
    min-width: 325px;
    box-sizing: border-box;
}

.left {
    order: 1;
}

.right {
    order: 2;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label, input {
    display: block;
    margin: 10px 0;
}

input[type="text"] {
    width: 100%;
    padding: 10px; 
    height: 40px; 
    box-sizing: border-box; 
}


button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: 2px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

select {
    width: 100%;
    padding: 10px;
    margin: 2px 0;
}

